/* 
    ==========
    SearchPage
    ==========
*/

.formStyle {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .formStyle {
    width: 95%;
  }
}

.textInputStyle {
  width: 88%;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .textInputStyle {
    width: 78%;
  }
}

.buttonStyle {
  width: 10%;
}

@media (max-width: 768px) {
  .buttonStyle {
    width: 20%;
  }
}

/* 
    ===========
    ResultsPage
    ===========
*/

.thumbnail-container {
  width: 640px; /* Width of the thumbnail */
  height: 360px; /* Height you want to display, excluding black bars */
  position: relative; /* Needed to position the image correctly */
  border: 3px solid black;
}

.thumbnail-container img {
  width: 635px;
  height: 355px; /* Original height of the thumbnail */
  object-fit: none; /* Do not resize the image */
  object-position: center -61px; /* Center the image vertically */
}
